h1,h2,h3,h4,h5,h6,span,div,strong,nav,img {
    border: 1px solid tomato;
    background-color: blueviolet;
    margin:50px;
    font-size: 22px;
    padding:3px;
    color: aliceblue;
    text-align: center;
}


